body {
    background:lightgrey;
}
 
.clearfix {
    display:block;
    clear:both;
}

.page{
    text-align: center;
    background-color: white;
    max-width: 75%;
    width: auto;
    margin: 0 auto;
}

.header{
    display:block;
    max-width: 100%;
    padding: 20px 0 0 0;
}

/*Menyrad*/
.menu-wrap {
    background-color:#436477;
    margin: 0 auto;
    padding: 1px 0 50px 0;
}
 
.menu {
    width:1000px;
    margin:0px auto;

}
 
/*Meny-block*/
.menu li {
    list-style:none;
    font-family:sans-serif;
    background-color: #436477;
    max-width: 75%;
    margin: auto;
}
 
.menu a {
    
    color:white;
    text-decoration:none;
    text-align:left;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:black;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#517792;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background:#436477;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#517792;
}

.footer{
    background-color:#436477;
    padding: 15px 0 15px 0;
    font-family: sans-serif;
    color: white;
}
