    .page{
        max-width: 100%;
    }
    
    p{
        font-size: 16pt;
    }
    
    #ContentPlaceHolder1_allafragor div2{
    font-size:28px;
    }

    #ContentPlaceHolder1_allafragor img{
    max-width:100%;
    }
